SimulationConfig.xsd

<?xml version="1.0"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xse="http://www.codesynthesis.com/xmlns/xml-schema-extension">

  <xsd:simpleType name="TransformType">
  	<xsd:restriction base="xsd:string">
  		<xsd:enumeration value="scale" />
  		<xsd:enumeration value="translate" />
  		<xsd:enumeration value="rotatex0" />
  		<xsd:enumeration value="rotatex1" />
      <xsd:enumeration value="rotatex2" />
      <xsd:enumeration value="shear" />
      <xsd:enumeration value="perspective" />
  	</xsd:restriction>
  </xsd:simpleType> 
       
  <xsd:complexType name="transform">
    <xsd:sequence>
      <xsd:element name="x" type="floatVector" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="type" type="TransformType" use="required" />
    <xsd:attribute name="angle" type="xsd:double" use="optional" default="0" />
    <xsd:attribute name="shear01" type="xsd:double" use="optional" default="0" />
    <xsd:attribute name="shear02" type="xsd:double" use="optional" default="0" />
    <xsd:attribute name="shear10" type="xsd:double" use="optional" default="0" />
    <xsd:attribute name="shear12" type="xsd:double" use="optional" default="0" />
    <xsd:attribute name="shear20" type="xsd:double" use="optional" default="0" />
    <xsd:attribute name="shear21" type="xsd:double" use="optional" default="0" />
  </xsd:complexType>
       
  <xsd:simpleType name="BoundaryConditionType">
  	<xsd:restriction base="xsd:string">
  		<xsd:enumeration value="Outflow" />
  		<xsd:enumeration value="Reflect" />
  		<xsd:enumeration value="Periodic" />
  	</xsd:restriction>
  </xsd:simpleType>    
        
  <xsd:simpleType name="OutputFileType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="xyz" />
      <xsd:enumeration value="vtk" />
    </xsd:restriction>
  </xsd:simpleType>
        
  <xsd:simpleType name="ScenarioType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Gravity"/>
      <xsd:enumeration value="Lennard-Jones"/>
      <xsd:enumeration value="Membrane"/>
      <xsd:enumeration value="Lennard-Jones-Smoothed"/>
</xsd:restriction>
  </xsd:simpleType>    
  
  <xsd:simpleType name="ThermostatSwitch">
  	<xsd:restriction base="xsd:string">
  		<xsd:enumeration value="ON"/>
  		<xsd:enumeration value="OFF"/> 
  	</xsd:restriction>
  </xsd:simpleType>		
  
  <xsd:simpleType name="ContainerType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ParticleContainer"/>
      <xsd:enumeration value="CellListContainer"/>
    </xsd:restriction>
  </xsd:simpleType>     
                       
  <xsd:complexType name="BoundaryHandlingType">
    <xsd:attribute name="right" type="BoundaryConditionType" use="required" />
    <xsd:attribute name="left" type="BoundaryConditionType" use="required" />
    <xsd:attribute name="top" type="BoundaryConditionType" use="required" />
    <xsd:attribute name="bottom" type="BoundaryConditionType" use="required" />
    <xsd:attribute name="front" type="BoundaryConditionType" use="required" />
    <xsd:attribute name="back" type="BoundaryConditionType" use="required" />
  </xsd:complexType>
                            	
	<xsd:complexType name="floatVector">
		<xsd:attribute name="x0" type="xsd:double" use="required"/>
		<xsd:attribute name="x1" type="xsd:double" use="required"/>
		<xsd:attribute name="x2" type="xsd:double" use="required"/>
	</xsd:complexType>

	<xsd:complexType name="intVector">
		<xsd:attribute name="x0" type="xsd:int" use="required"/>
		<xsd:attribute name="x1" type="xsd:int" use="required"/>
		<xsd:attribute name="x2" type="xsd:int" use="required"/>
	</xsd:complexType>   

	<xsd:complexType name="ParticleType">
	  <xsd:attribute name="mass" type="xsd:double" use="required" />
	  <xsd:attribute name="sigma" type="xsd:double" use ="required"/>
	  <xsd:attribute name="epsilon" type="xsd:double" use ="required"/>
	  <xsd:attribute name="isMolecule" type="xsd:boolean" use="optional" default="false" />
	  <xsd:attribute name="averageBondLength" type="xsd:double" use="optional" default="2.2" />
	  <xsd:attribute name="stiffness" type="xsd:double" use="optional" default="300" />
	  <xsd:attribute name="nX0" type="xsd:double" use="optional" default="1" />
	  <xsd:attribute name="nX1" type="xsd:double" use="optional" default="1" />
	  <xsd:attribute name="nX2" type="xsd:double" use="optional" default="1" />
	</xsd:complexType>

	<xsd:complexType name="cutOffRadius">
	  <xsd:attribute name="scaled" type="xsd:boolean" use="required"/>
	  <xsd:attribute name="radius" type="xsd:double" use="required"/>
	</xsd:complexType> 

	<xsd:complexType name ="TypesList">
	  <xsd:sequence>
	    <xsd:element name="particleType" type ="ParticleType" maxOccurs ="unbounded" minOccurs = "1"/>
	  </xsd:sequence>  
	</xsd:complexType> 

<xsd:complexType name="cuboid">
	  <xsd:sequence>
	  	<xsd:element name="bottomLeft" type="floatVector"/>
	  	<xsd:element name="nX" type="intVector" />
	  	<xsd:element name="stepWidth" type="xsd:double"/>
	  	<xsd:element name="type" type="xsd:int"/>
	  	<xsd:element name="initialVelocity" type="floatVector"/>
	  	<xsd:element name="brownianMeanVelocity" type="xsd:double" minOccurs="0" maxOccurs="1"/>
	  	<xsd:element name="transform" type="transform" minOccurs="0" maxOccurs="unbounded" />
	 </xsd:sequence>
  </xsd:complexType>

  
  <xsd:complexType name="sphere">
	  <xsd:sequence>
	  	<xsd:element name="center" type="floatVector"/>
	  	<xsd:element name="radius" type="xsd:int" />
	  	<xsd:element name="stepWidth" type="xsd:double"/>
	  	<xsd:element name="type" type="xsd:int"/>
	  	<xsd:element name="initialVelocity" type="floatVector"/>
	  	<xsd:element name="brownianMeanVelocity" type="xsd:double" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="transform" type="transform" minOccurs="0" maxOccurs="unbounded" />
	 </xsd:sequence>
  </xsd:complexType>

 <xsd:complexType name="cylinder">
	  <xsd:sequence>
	  	<xsd:element name="bottom" type="floatVector"/>
		<xsd:element name="height" type="xsd:int"/>
	  	<xsd:element name="radius" type="xsd:int"/>
	  	<xsd:element name="stepWidth" type="xsd:double"/>
	  	<xsd:element name="type" type="xsd:int"/>
	  	<xsd:element name="initialVelocity" type="floatVector"/>
	  	<xsd:element name="brownianMeanVelocity" type="xsd:double" minOccurs="0" maxOccurs="1"/>
	  	<xsd:element name="transform" type="transform" minOccurs="0" maxOccurs="unbounded" />
	 </xsd:sequence>
 </xsd:complexType>
            
  <xsd:complexType name="generator">
  	<xsd:sequence>
  		<xsd:element name="cuboid" type="cuboid" maxOccurs="unbounded"/>
  		<xsd:element name="sphere" type="sphere" maxOccurs="unbounded"/>
      <xsd:element name="cylinder" type="cylinder" maxOccurs="unbounded"/>
	</xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="ThermostatSettings">
    	<xsd:sequence>
  	  <xsd:element name="initTemperature" type="xsd:double" maxOccurs="1" minOccurs="0" />
  	  <xsd:element name="targetTemperature" type="xsd:double" minOccurs ="0" maxOccurs="1"/>
  	  <xsd:element name="controlInterval" type="xsd:int"/>
  	  <xsd:element name="estimatedSteps" type="xsd:int" minOccurs ="0" maxOccurs="1"/>
	  <xsd:element name="temperaturePerStep" type="xsd:double" minOccurs ="0" maxOccurs="1"/>
	  <xsd:element name="maxSteps" type="xsd:int" minOccurs ="0" maxOccurs="1"/>
	</xsd:sequence> 
 </xsd:complexType>

<xsd:complexType name="forceField">
  <xsd:sequence>
    <xsd:element name="type" type = "xsd:int"/>
    <xsd:element name="from" type="intVector"/>  
    <xsd:element name="to" type="intVector"/>
    <xsd:element name="force" type="floatVector"/>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="dummyForConstructors">
  <xsd:sequence>
    <xsd:element name="ThermostatSettings" type="ThermostatSettings"/>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="statistics">
  <xsd:attribute name="fileName" type="xsd:string" use="required" />
  <xsd:attribute name="interval" type="xsd:int" use="required" />  
  <xsd:attribute name="deltaR" type="xsd:double" use="required" />
</xsd:complexType>

<xsd:complexType name="simulationConfig">
    <xsd:sequence>
      <xsd:element name="deltaT" type="xsd:double"/>
      <xsd:element name="endTime" type="xsd:double"/>
      <xsd:element name="dimensions" type="xsd:int" minOccurs="0" maxOccurs="1"/> 
      <xsd:element name="scenarioType" type="ScenarioType"/>
      <xsd:element name="domainSize" type="floatVector" />
      <xsd:element name="cutoffRadius" type="cutOffRadius" />
      <xsd:element name="lRadius" type="xsd:double" minOccurs = "0" maxOccurs = "1"/>      
      <xsd:element name="boundaryHandling" type="BoundaryHandlingType" />
      <xsd:element name="containerType" type="ContainerType" />
      <xsd:element name="gravitation" type="floatVector" minOccurs ="0" maxOccurs="1"/>
      <xsd:element name="outputFrequency" type="xsd:int"/>
      <xsd:element name="disableOutput" type="xsd:boolean"/>
      <xsd:element name="loggerConfigFile" type="xsd:string"/>
      <xsd:element name="outputFilePrefix" type="xsd:string"/>
      <xsd:element name="outputFileIterationOffset" type="xsd:int" minOccurs="0" maxOccurs="1" />
      <xsd:element name="outputFileType" type="OutputFileType"/>
      <xsd:element name="saveLastState" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="inputFile" type="xsd:string" minOccurs ="0" maxOccurs="1"/>
      <xsd:element name="statistics" type="statistics" minOccurs="0" maxOccurs="1" />
      <xsd:element name="thermostatSwitch" type="ThermostatSwitch" minOccurs ="0" maxOccurs="1"/>
      <xsd:element name="thermostatSettings" type="ThermostatSettings" minOccurs ="0" maxOccurs="1"/>      
      <xsd:element name="typeList" type="TypesList" />
      <xsd:element name="forceField" type="forceField" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="generator" type="generator"/>
  </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="simulationConfig" type="simulationConfig" />

</xsd:schema>
